form > span {
    color: red;
}

input[type=text] {
    margin-bottom: 1em;
}

form label {
    display: inline-block;
    text-align: right;
    margin-right: .5em;
    width: 50%;
}

form button {
    margin-left: 50%;
}

@media only screen and (max-width: 450px) {
    form label {
        text-align: left;
        width: 100%;
    }

    form button {
        margin-left: 0%;
    }
}